
cuda-stream
ocl-stream
omp-stream
acc-stream
raja-stream
kokkos-stream
std-stream
sycl-stream
hip-stream
tbb-stream

*.o
*.bc
*.sycl
*.tar
*.gz
*.a

KokkosCore_config.*

.DS_Store

Makefile

build/
cmake-build-*/
CMakeFiles/
.idea/
.vscode/
.directory