
cuda-stream
ocl-stream
omp-stream
acc-stream
raja-stream
kokkos-stream
sycl-stream
hip-stream
poplar-stream

*.o
*.bc
*.sycl
*.gc
*.tar
*.gz

.DS_Store

Makefile

vars.capnp
graph.json
execution.json
*.csv
arhive.a
*.gp
popops-stream
